# Dependency directories
meditation-frontend/node_modules/
awscli-bundle/
__pycache__/
tvenv/

# Build outputs
/build
/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Test coverage directory
/coverage

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug log from npm
npm-debug.log*

# Yarn Integrity file
.yarn-integrity
