*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #6867AC;
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
  color: #6867AC;
}

button {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #FFB2A6;
  padding: 10px 50px;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  letter-spacing: 0.025rem;
  margin-top: 30px;
}

button:hover {
  background-color: #fff;
  color: #FFB2A6;
  outline: 2px solid #FFB2A6;
}

ul {
  list-style-type: none;
}

